<!-- templates/favorite_unfavorite.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite/Unfavorite State</title>
</head>
<body>
    <center>
    <h1>Favorite or Unfavorite a State</h1>
    <p>
        To favorite or unfavorite a state, fill in your username, select the state from the drop down
        menu, and select whether you would like to favorite it, or unfavorite it to remove it from your
        favorites. Press submit and make sure the request processes, and it will then be reflected in the database.
    </p>
    <form method="POST" action="{{ url_for('favorite_unfavorite') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>

        <label for="state_name">Select State:</label>
        <select name="state_name" id="state_name" required>
            <option value="">Select a State</option>
            {% for state_name in states %}
                <option value="{{ state_name[0] }}">{{ state_name[0] }}</option>
            {% endfor %}
        </select>

        <label for="action">Action:</label>
        <select name="action" id="action" required>
            <option value="favorite">Favorite</option>
            <option value="unfavorite">Unfavorite</option>
        </select>

        <button type="submit">Submit</button>
    </form>

    <a href="{{ url_for('index') }}">Back to Home</a>
    </center>
</body>
</html>
