<!-- templates/follow_unfollow.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Follow/Unfollow Disease</title>
</head>
<body>
    <center>
    <h1>Follow or Unfollow a Disease</h1>
    <p>
        To follow or unfollow a disease, fill in your username, select the disease from the drop down
        menu, and select whether you would like to follow it, or unfollow it to remove it from your
        followings Press submit and make sure the request processes, and it will then be reflected in the database.
    </p>
    <form method="POST" action="{{ url_for('follow_unfollow') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>

        <label for="disease_id">Select Disease:</label>
        <select name="disease_id" id="disease_id" required>
            <option value="">Select a Disease</option>
            {% for disease_id, name in diseases %}
                <option value="{{ disease_id }}">{{ name }}</option>
            {% endfor %}
        </select>

        <label for="action">Action:</label>
        <select name="action" id="action" required>
            <option value="follow">Follow</option>
            <option value="unfollow">Unfollow</option>
        </select>

        <button type="submit">Submit</button>
    </form>

    <a href="{{ url_for('index') }}">Back to Home</a>
    </center>
</body>
</html>
