<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Health Hub</h1>
    <ul>
        <li><a href="{{ url_for('disease_counts_by_state') }}">View Disease Counts by State</a></li>
        <li><a href="{{ url_for('state_counts_by_disease') }}">View State Counts by Disease</a></li>
        <li><a href="{{ url_for('healthcare_facilities_by_state') }}">View Healthcare Facilities by State</a></li>
        <li><a href="{{ url_for('disease_info') }}">Disease Info</a></li>
        <li><a href="{{ url_for('feed') }}">User Feed</a></li>
        <li><a href="{{ url_for('favorites') }}">User Favorite States</a></li>
        <li><a href="{{ url_for('follows') }}">User Following Diseases</a></li>
    </ul>
</body>
</html>
