<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Health Hub</h1>
    <center>
    <img src="{{ url_for('static', filename='HealthHub.jpg') }}" alt="HealthHub Logo">
    </center>
    <ul style="list-style-type: none; text-align: center;">
        <li><a href="{{ url_for('disease_counts_by_state') }}">View Disease Counts by State</a></li>
        <li><a href="{{ url_for('state_counts_by_disease') }}">View State Counts by Disease</a></li>
        <li><a href="{{ url_for('healthcare_facilities_by_state') }}">View Healthcare Facilities by State</a></li>
        <li><a href="{{ url_for('disease_info') }}">Disease Info</a></li>
        </br>
        <li><a href="{{ url_for('feed') }}">User Feed and Message Board</a></li>
        <li><a href="{{ url_for('favorites') }}">User Favorite States</a></li>
        <li><a href="{{ url_for('follows') }}">User Following Diseases</a></li>
        </br>
        <li><a href="{{ url_for('favorite_unfavorite') }}">Edit User Favorite States</a></li>
        <li><a href="{{ url_for('follow_unfollow') }}">Edit User Diseases Followings</a></li>
    </ul>
    </br>
    </br>
    <p>
        Created by Jacob Million and Michael Carrion
    </p>
    </br>
    <p>
        Columbia University, ComsW4111 Databases, Prof Wu
    </p>
</body>
</html>
