<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<style>
    .box {
	    width: 400px;
	    height: 170px;
	    border: 2px solid red;
	    padding: 10px;
	    margin: 10px;
	    background-color: rgba(138, 0, 0, 0.5);
    }
</style>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Health Hub</h1>
    <center>
    <img src="{{ url_for('static', filename='HealthHub.jpg') }}" alt="HealthHub Logo">
    </br>

    <div class = "box">

    <h3 style="text-align: center;">Current Highest-Risk State (State with the Most Disease Cases)</h3>
        
    <table border="1" style="background-color: white;">
    <tr>
        <th>State</th>
        <th>Count</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
    </tr>
    {% endfor %}
    </table>

    </div>

    </br>
        
    <ul style="list-style-type: none; text-align: center;">
        <li><a href="{{ url_for('disease_counts_by_state') }}">View Disease Counts by State</a></li>
        <li><a href="{{ url_for('state_counts_by_disease') }}">View State Counts by Disease</a></li>
        <li><a href="{{ url_for('healthcare_facilities_by_state') }}">View Healthcare Facilities by State</a></li>
        <li><a href="{{ url_for('disease_info') }}">Disease Info</a></li>
        </br>
        <li><a href="{{ url_for('feed') }}">User Feed and Message Board</a></li>
        <li><a href="{{ url_for('favorites') }}">User Favorite States</a></li>
        <li><a href="{{ url_for('follows') }}">User Following Diseases</a></li>
        </br>
        <li><a href="{{ url_for('favorite_unfavorite') }}">Edit User Favorite States</a></li>
        <li><a href="{{ url_for('follow_unfollow') }}">Edit User Diseases Followings</a></li>
    </ul>
    </br>
    </br>

    <p>
        <b>Created by Jacob Million and Michael Carrion</b>
    </p>
    <p>
        <i>Columbia University, ComsW4111 Databases, Prof Wu</i>
    </p>
    </center>
</body>
</html>
